/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* CUSTOM STYLES */
html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
* {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Open Sans", Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  /* color: #314659; */
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #4B555B;
  text-decoration: none;
}
.wrapper {
  background: #FBFBFD;
}
/* .row {
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */
.left {
  float: left;
}
.right {
  float: right;
}
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  background: slategray;
  color: #fff;
}
.panel {
  /* float: left; */
  margin: 20px 0;
  border-radius: 4px;
  /* background: #fff; */
  /* box-shadow: 0 0.166em 0.333em rgba(75, 85, 91, 0.2); */
}
.panel-title {
  padding: 10px 0 20px 0;
  font: 600 18px/24px 'open sans';
  /* border-bottom: 1px solid #eee; */
}
.panel-navigation {
  padding: 10px 0 30px;
  /* border-bottom: 1px solid #eee; */
}
.panel-navigation li {
  padding: 10px;
  display: inline-block;
  font-size: .9rem;
}
.panel-navigation .active {
  color: #2ABCB9;
  border-bottom: 3px solid #2ABCB9;
}
.object {
  display: inline-block;
  vertical-align: top;
  position: relative;
  /* margin-top: -13px; */
  z-index: 50;
}
.object-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
  background-size:cover;
  left: 0;
  top: 0;
  overflow: hidden;
  border-radius: 200px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px; */
}
.object-icon img {
  width: 100%;
  border-radius: 200px;
  vertical-align: top;
}

/* HEADER */
.header {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background: #12BA5B;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  float: left;
  background:#4B555B;
  width: 190px;
  min-height: 100vh;
  padding: 50px 0 160px 0;
}

/* CONTENT */
.content-container {
  /* display: inline-block;
  float:left;
  padding: 50px 0 160px 0; */
  min-height: 100vh;
  position: relative;
  margin-left: 190px;
  overflow: auto;
  padding: 20px;
  padding-top: 70px;
}
.content-name {
  font-size: 1.5em;
  font-weight: 600;
  padding: 20px 30px;
  color: #314659;
}

.active-row {
  padding: 0 20px;
}

/* Pending items */
.pending-items-row {
  padding: 0 20px;
}
.pending-item-tab {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 20px 0;
  padding-left: 30px !important;
  padding-right: 30px !important;
  background: rgba(117, 198, 235, 0.10);
  border-radius: 4px;
  border: 1px solid rgba(117, 198, 235, 0.20);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
  /* box-shadow: rgba(29,29,31,0.1) 0 10px 60px; */
  /* border: 1px solid #e8e8e8; */
}
/* .pending-item-tab:last-child {
  margin-right: 0;
} */
.pending-number {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  color: #3AAEE3;
}
.pending-title {
  max-width: 120px;
  font-size: .8rem;
  line-height: 1.1rem;
  color: #3AAEE3;
  margin-bottom: 0;
}
/* Tutorial Panel */
.tutorial-panel {
  color: #fff;
  width: 100%;
  padding: 30px;
  margin: 0px 30px;
  background: #193D46;
  border: 1px solid #EAEDF3;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
  /* background: rgb(45, 113, 216) url('https://uploads-ssl.webflow.com/5807d8f1295c98b22ac08c98/596fd89df1c79648a6ed96c9_Asset%2014.svg') no-repeat;
  background-position: right bottom; 
  background-repeat: repeat;
  background-size: 55%; */
  /* box-shadow: rgba(29,29,31,0.1) 0 10px 60px; */
  /* border: 1px solid #e8e8e8; */
}
.tutorial-content {
  vertical-align: center;
}
.tutorial-content h2 {
  font-size: 1.4rem;
  font: 600 18px/24px 'open sans';
  line-height: 2rem;
  margin-bottom: 0;
  /* color: #fff; */
}
.tutorial-content span {
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 1rem;
  line-height: 1.2rem;
  /* color: #ffffffA5; */
}
.tutorial-btn {
  margin: 10px 0; 
  font-size: .85rem;
  background-color: #2ABCB9;
  box-shadow: rgba(29,29,31,0.1) 0 10px 60px;
}
.tutorial-list {
  display: inline-block;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 40px;
}
.tutorial-list li {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  /* text-align: center; */
}
.tutorial-list li p {
  margin-bottom: 0px;
  /* margin-top: 10px; */
}
.dot {
  height: 15px;
  width: 15px;
  border: 2px solid #12BA5B;
  background: rgba(79, 206, 140, 0.2);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
}
.filled {
  background: #12BA5B;
}

/* Comments */
.comments-container {
  padding-top: 20px;
  /* max-height: 600px; */
  /* overflow: visible scroll; */
}
.comments-panel {
  width: 100%;
  /* background-color: #fff; */
}
.comment-wrap {
  padding-bottom: 10px;
  /* border-bottom: 1px solid #eee; */
}
.comment, .comment h5, .sub-info {
  display: inline-block;
}
.comment-block {
  padding-left: 20px;
}
.comment {
  display: block;
  margin: -30px 0 20px 0;
  padding: 25px 30px !important;
  background: #fff;
  border-radius: 4px;
  z-index: 1;
  /* border: 1px solid #e8e8e8; */
border: 1px solid #EAEDF3;
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
}
.comment h5 {
  font-size: .85rem;
  font-weight: 500;
  padding-right: 10px;
  padding-bottom: 10px;
}
.sub-info {
  font-size: .65rem;
  color: rgb(148, 148, 148);
}
.comment span {
  color: #2ABCB9;
}
.comment-full {
  font-size: .75rem;
  line-height: 1.15rem;
  margin-bottom: 0;
}

/* Activity */
.activity-panel {
  width: 100%;
}
.activity-wrap {
  padding: 30px 30px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #EAEDF3;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
}
.user-details {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8b0;
}
.activity {
  display: inline-block;
  font-weight: 400;
}
.activity-status {
  display: inline-block;
  font-size: .8rem;
  text-align: center;
  padding: 0 15px;
  background: rgba(79, 206, 140, 0.2);
  color: #12BA5B;
  border-radius: 4px;
  margin-bottom: 0 !important;
  margin-right: 10px;
  vertical-align: middle;
}
.pending-status {
  background: rgba(251, 196, 93, 0.2);
  color: #FAAB18;
}
.denied-status {
  background: rgba(238, 139, 119, 0.20);
  color: #E8583D;
}
.user-info h5 {
  margin-bottom: 0;
  font-size: .9rem;
  vertical-align: middle;
  line-height: 35px;
}
.activity-status-wrap {
  /* line-height: 1.5 !important; */
}
.activity-full {
  max-width: 600px;
  font-size: .8rem;
  line-height: 1.2rem;
  padding-top: 15px;
}
.user-info {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
}
.sub-info {
  margin-bottom: 0;
}
.activity-date {
  text-align: right;
  display: block;
}
.activity-order-info {
  text-align: left;
}
.sub-info span {
  font-size: .9rem;
  color: #2ABCB9;
}
.activity-heading {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.activity-heading .object-icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

/* BUDGETS */
.budget-dropdown {
  display: block;
  width: 100%;
}
.tutorial-step-group {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
.styled-select {
  /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */
  background-color: #fff;
  height: 36px;
  overflow: hidden;
  width: 100%;
  -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   border: 1px solid #EAEDF3;
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 36px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 100%;
}