/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */
body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #314659;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #4B555B;
  text-decoration: none;
}
.wrapper {
  background: rgb(250, 250, 250);
}
.row {
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.column-12 {
  width: 100%;
}
.column-2 {
  width: 14.5%;
  float: left;
}
.column-3 {
  width: 38%;
  float: left;
  padding: 0 20px;
}
.column-5 {
  width: 50%;
  float: left;
  padding: 0 20px;
}
.column-7 {
  width: 62%;
  float: left;
  padding: 0 20px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.btn {
  padding: 10px 20px;
  border-radius: 3px;
  background: slategray;
  color: #fff;
}
.panel {
  float: left;
  margin: 20px 0;
  border-radius: 6px;
  /* background: #fff; */
  /* box-shadow: 0 0.166em 0.333em rgba(75, 85, 91, 0.2); */
}
.panel-title {
  padding: 10px 0 20px 0;
  font-weight: 500;
  /* border-bottom: 1px solid #eee; */
}
.panel-navigation {
  padding: 10px 0 30px;
  /* border-bottom: 1px solid #eee; */
}
.panel-navigation li {
  padding: 10px;
  display: inline-block;
  font-size: .9rem;
}
.panel-navigation .active {
  color: #2ABCB9;
  border-bottom: 3px solid #2ABCB9;
}
.object {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: -10px;
  z-index: 50;
}
.object-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
  background-size:cover;
  left: 0;
  top: 0;
  overflow: hidden;
  border-radius: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  border: 1px solid #e8e8e8;
}
.object-icon img {
  width: 100%;
  border-radius: 200px;
}

/* HEADER */
.header {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background: #12BA5B;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  float: left;
  background:#4B555B;
  width: 190px;
  min-height: 100vh;
  padding: 50px 0 160px 0;
}

/* CONTENT */
.content-container {
  /* display: inline-block;
  float:left;
  padding: 50px 0 160px 0; */
  min-height: 100vh;
  position: relative;
  margin-left: 190px;
  overflow: auto;
  padding: 20px;
  padding-top: 70px;
}
.content-name {
  font-size: 1.5em;
  font-weight: 600;
  padding: 20px 10px;
  color: #314659;
}
/* Pending items */
.pending-items-row {
  padding: 20px 0;
}
.pending-item-tab {
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: rgba(29,29,31,0.1) 0 10px 60px;
  border: 1px solid #e8e8e8;
}
.pending-item-tab:last-child {
  margin-right: 0;
}
.pending-number {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  color: #12BA5B;
}
.pending-title {
  max-width: 120px;
  font-size: .8rem;
  line-height: 1.2rem;
  color: #314659;
}
/* Tutorial Panel */
.tutorial-panel {
  width: 100%;
  padding: 15px 75px;
  /* background: rgb(45, 113, 216); */
  background: rgb(45, 113, 216) url('https://uploads-ssl.webflow.com/5807d8f1295c98b22ac08c98/596fd89df1c79648a6ed96c9_Asset%2014.svg') no-repeat;
  background-position: right bottom; 
  background-repeat: repeat;
  background-size: 55%;
  box-shadow: rgba(29,29,31,0.1) 0 10px 60px;
  border: 1px solid #e8e8e8;
}
.tutorial-content {
  vertical-align: center;
}
.tutorial-content h2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
}
.tutorial-content span {
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #ffffffA5;
}
.tutorial-btn {
  margin: 10px 0; 
  font-size: .85rem;
  background-color: #2ABCB9;
  box-shadow: rgba(29,29,31,0.1) 0 10px 60px;
}
/* Comments */
.comments-container {
  padding-top: 20px;
  /* max-height: 600px; */
  overflow: auto;
}
.comments-panel {
  width: 100%;
  /* background-color: #fff; */
}
.comment-wrap {
  padding-bottom: 20px;
  /* border-bottom: 1px solid #eee; */
}
.comment, .comment h5, .sub-info {
  display: inline-block;
}
.comment {
  display: inline-block;
  max-width: 80%;
  margin-bottom: 20px;
  margin-left: -25px;
  padding: 25px 30px;
  background: #fff;
  border-radius: 6px;
  z-index: 1;
  border: 1px solid #e8e8e8;
  box-shadow: rgba(29,29,31,0.1) 0 10px 60px;
}
.comment h5 {
  font-size: .85rem;
  font-weight: 500;
  padding-right: 10px;
  padding-bottom: 10px;
}
.sub-info {
  font-size: .65rem;
  color: rgb(148, 148, 148);
}
.comment span {
  color: #2ABCB9;
}
.comment-full {
  font-size: .75rem;
  line-height: 1.15rem;
}

/* Activity */
.activity-panel {
  width: 100%;
}
.activity-wrap {
  padding: 40px 30px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 6px;
  box-shadow: rgba(29,29,31,0.1) 0 10px 60px;
}
.activity {
  display: inline-block;
  font-weight: 500;
}
.activity-full {
  max-width: 600px;
  font-size: .8rem;
  line-height: 1.2rem;
  padding-top: 20px;
}
